
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">App Aprovisionamiento</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-md-auto">
          <!-- Desactivado por los breadcrumbs -->
        <!-- <li class="nav-item active">
            <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item active" *ngIf="isAuth()">
            <a class="nav-link" routerLink="/lista-presupuestos">Presupuestos</a>
        </li>
        <li class="nav-item active" *ngIf="isAuth()">
            <a class="nav-link" routerLink="/lista-proveedores">Proveedores</a>
        </li>
        <li class="nav-item active" *ngIf="isAuth()">
            <a class="nav-link" routerLink="/lista-facturas">Facturas</a>
        </li> -->
        <li class="nav-item active" *ngIf="!isAuth()">
            <a class="btn btn-primary" routerLink="/login">Inicio de sesión</a>
        </li>
        <li class="nav-item active" *ngIf="isAuth()">
            <button (click)="onLogOut()" class="btn btn-primary">Cerrar sesión ({{getUser().email}})</button>
        </li>
      </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>