<div class="row primera">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Compras</li>
    </ol>
  </nav>
</div>
  <div class="row">
    <h1>Ventas</h1>
  </div>
    
  <div class="d-flex justify-content-around primera">
    <div class="col-md-3 naranja" routerLink="/lista-presupuestos">
      <span><i class="fas fa-file-alt"></i></span>
      <h4>Presupuestos</h4>
    </div>
    <div class="col-md-3 verde" routerLink="/lista-proveedores">
      <span><i class="fas fa-address-card"></i></span>
      <h4>Proveedores</h4>
    </div>
    <div class="col-md-3 rojo" routerLink="/lista-facturas">
      <span><i class="fas fa-credit-card"></i></span>
      <h4>Facturas</h4>
    </div>
  </div>
