<div class="row primera">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/menu-compras">Compras</a></li>
        <li class="breadcrumb-item"><a routerLink="/lista-proveedores">Listado Proveedores</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detallas Proveedor</li>
      </ol>
    </nav>
    <h1>Detalles del Proveedor</h1>
    <form [formGroup]="proveedorForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="proveedor.nombre" readonly>
      </div>
      <div class="form-group">
        <label for="cif">CIF</label>
        <input type="text" class="form-control" formControlName="cif" [(ngModel)]="proveedor.cif" readonly>
      </div>
      <div class="form-group">
        <label for="domicilio">Domicilio</label>
        <input type="text" class="form-control" formControlName="domicilio" [(ngModel)]="proveedor.domicilio" readonly> 
      </div>
      <div class="form-group">
        <label for="cp">Código Postal</label>
        <input type="number" class="form-control" formControlName="cp" [(ngModel)]="proveedor.cp" readonly>
      </div>
      <div class="form-group">
        <label for="localidad">Localidad</label>
        <input type="text" class="form-control" formControlName="localidad" [(ngModel)]="proveedor.localidad" readonly>
      </div>
      <div class="form-group">
        <label for="provincia">Provincia</label>
        <input type="text" class="form-control" formControlName="provincia" [(ngModel)]="proveedor.provincia" readonly>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" formControlName="telefono" [(ngModel)]="proveedor.telefono" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email" [(ngModel)]="proveedor.email" readonly>
      </div>
      <a class="btn btn-primary" routerLink="/editar-proveedor/{{proveedor._id}}">Editar</a>
      <a class="btn btn-danger" routerLink="/lista-proveedores">Cancelar</a>
    </form>
  </div>
</div>
